.container {
  max-width: 1700px;
  margin: auto;
  direction: rtl;
  padding: 20px;
}

.footer {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  /* height: 272px;
  display: flex; */
}
/* .aboutus {
  width: 350px;
  height: 262px;
  margin-left: 100px;
  text-align: justify;
} */

.aboutus,
.pages,
.contactus,
.license {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  text-align: right;
  margin-bottom: 20px;
}

.aboutus p,
.pages p,
.contactus p,
.license p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #43454d;

}

/* .aboutus p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #43454d;
  padding: 20px 0 20px 0;
} */

.aboutus p:first-child {
  padding-bottom: 25px;
  padding: 0 0 20px 0;
}

.aboutus input {
  width: 70%;
  padding: 8px;
  border: none;
  color: #878787;
  border-radius: 0 5px 5px 0;
}

.aboutus button {
  width: 28%;
  padding: 8px;
  border: none;
  color: #fff;
  background-color: #2563eb;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  margin-top: 30px;
}

.aboutus span {
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 400;
  color: #43454d;
  margin-bottom: 30px;
}

.pages p {
  margin-bottom: 10px;
}

.pages span {
  display: block;
  color: #43454d;
  margin-bottom: 14px;
}



/* .pages {
  width: 170px;
  height: 272px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .pages span {
  display: inline-block;
  color: #43454d;
} */

/* .pages p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #43454d;
} */

/* .contactus {
  width: 305px;
  height: 272px;
  margin-left: 100px;
} */

.contactus p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #43454d;
  padding: 5px 0 5px 0;
  text-align: left;
}

.contactus p:first-child {
  padding: 0 0 20px 0;
  text-align: right;
  margin-bottom: 5px;
}

.contactus > span {
  display: inline-block;
  width: 100%;
  font-size: 0.95rem;
  color: #2563eb;
  background-color: rgba(37, 99, 235, 0.09);
  padding: 8px;
  margin-bottom: 20px;
}

.icons > p:first-child {
    color: #43454D;
    font-size: 0.95rem;
    text-align: left;
    padding: 0 0 20px 0;
    margin: 5px 0 0 5px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 15px 0 0 ;
  align-items: center;
}

/* .license {
  width: 223px;
  height: 272px;
} */

.license {
  text-align: center;
}

.litext {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

/* .litext> p {
    font-size: 1.5rem;
    color: #43454D;
    font-weight: 600;
} */

.litext > span {
  font-size: 0.8rem;
  color: #2563eb;
  background-color: rgba(37, 99, 235, 0.09);
  padding: 8px 15px 4px 15px;
  border-radius: 24px;
}

.photo1,
.photo2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.photo1 {
  margin-bottom: 35px;
}

.text {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 70px;
}

.text span {
  color: #2563eb;
}

@media (max-width: 1024) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aboutus,
  .pages,
  .contactus,
  .license {
    min-width: 45%;
    align-items: center;
  }
  .photo1,
  .photo2 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .aboutus,
  .pages,
  .contactus,
  .license {
    width: 100%;
    align-items: center;
  }
  .photo1,
  .photo2 {
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }
}
